body {
    font-family: tahoma;
  	padding-top: 20px;
  	line-height: 1.5;
  	padding-left: 250px;
  	padding-right: 100px;
    padding-bottom: 50px;
}

.logo {
    position: fixed;
    width: 200px;
    top: 50px;
    left: 25px;
}

.logo img{
	width: 100%;
}

.main{
  padding-top: 40px;
}

html {
  background: url('CodeFirstGirls.jpg') no-repeat center center fixed;
}
.tips{
  height:120px;
  width:120px;
  float:right;
}

html { 
  background: url('CodeFirstGirls.jpg') no-repeat center center fixed;
  background-size: 250px 250px;
  padding-top: 50px;
  background-position: top left;

}

#quotes{
  padding:50px;
  float:center;
  wigth:740px;
  height:580px;
}



.text{
	width:75%;
	float: left;
}

.people div{
	clear: left;
}
