html{
  	background-color: rgba(255,0,0,0.1);
}

body {
    font-family: tahoma;
  	padding-top: 20px;
  	line-height: 1.5;
  	padding-left: 250px;
  	padding-right: 250px;
  	background-color: rgba(255,0,0,0.1);
}

html { 
  background: url(stemgirlslogo.jpg) no-repeat center center fixed; 
  background-size: 250px 250px;
  background-position: top left;
}

.text{
	width:75%;
	float: left;
}

.people div{
	clear: left;
}