body {
    font-family: tahoma;
  	padding-top: 20px;
  	line-height: 1.5;
  	padding-left: 250px;
  	padding-right: 100px;
}

.logo {
    position: fixed;
    width: 200px;
    top: 50px;
    left: 25px;
}

.logo img{
	width: 100%;
}

html { 
  background: url('CodeFirstGirls.jpg') no-repeat center center fixed; 
  background-size: 250px 250px;
  padding-top: 50px;
  background-position: top left;

}



.text{
	width:75%;
	float: left;
}

.people div{
	clear: left;
}